$notification-max-width: 720px;
$maximum-content-width: 1366px;

$tablet: 480px;
$desktop: 960px;
$desktop-large: 1080px;

$gap-sm: 0.5rem;
$gap-md: 1rem;
$gap-lg: 2rem;

$transition-duration: 0.5s;

$blue: ​#007bc1;
$dark-blue: ​​#004a75;
$orange: ​#ff8000;
$dark-orange: ​​#cc6600;
$smoke-grey: ​#e5e5e5;
